.inner-page-wrapper {
    display: flex;
    margin: 5em 0;
}

.inner-page-wrapper:first-child {
    align-self: flex-start;
}

.main-page {
    width: 100%;
    margin-left: 2em;
    background-color: #ffffff;
    min-height: 100vh;
    padding: 0.7em;
}